{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Marvelist - Marvel studio based website</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Curved Contact Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs Sign up Web Templates, 
 Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link type="image/png" sizes="16x16" rel="icon" href="https://img.icons8.com/color/48/000000/iron-man.png">

<!-- Custom Theme files -->
<link href="{% static 'css/loginstyle.css' %}" rel='stylesheet' type='text/css' />
<!--fonts--> 
<link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
<!--//fonts--> 
<!-- Favicon  -->
<link type="image/png" sizes="16x16" rel="icon" href="https://img.icons8.com/color/48/000000/iron-man.png">

</head>
<body style="background: url({% static 'img/og.jpg' %})no-repeat 0px 0px;">
<!--background-->
<!-- login -->
<h1>.</h1>
	        <div class="login-w3l">	
			<div class="top-img-agileits-w3layouts" style="background: url({% static 'img/2 .jpg' %})no-repeat 0px 0px;">
				<h2 class="sub-head-w3-agileits">Feedback</h2>
				<p>Fillout the form with your valueable feedbac</p>
				<div class="login-form">	
				<form action="#" method="post">
					<input type="text" name="Name" placeholder="Name" required="" />
					<input type="email" name="Email" placeholder="Email" required="" />
					<textarea name="Message" placeholder="Message" required=""></textarea>
					<input type="submit" value="Send">
				</form>	
			</div>
			</div>			
			
			<!-- //login -->
				</div> 
				<div class="clear"></div>
			<div class="footer-agileits">
			<p>© 2022 | All Rights Reserved <a href="{% url 'home' %}"> Marvelist</a> | Design by <a href="{% url 'home' %}"> Marvelist</a></p>
			</div>
			<!--//login-->
</body>
</html>